@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-poppins
    }
}


.header .toggleMenu span {
    height: 0.2rem;
    width: 1.5rem;
    @apply bg-lightGray block mb-1 ml-auto
}

.headerMobileNav {
    max-height: 0;
    overflow: hidden;
}

.headerMobileNav.active {
    max-height: 500px;
}

.tns-controls button:first-child {
    @apply hidden md:block absolute top-[45%] z-10 -left-[6%] bg-darkGray  rounded-full w-10 h-10 text-whiteLight
}

.tns-controls button:last-child {
    @apply hidden md:block absolute top-[45%] z-10 right-[4%] bg-darkGray rounded-full w-10 h-10 text-whiteLight 
}

